.div-linhas-estoqueModulos{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.div-estoqueChips{
  width: 33%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  color: rgb(90, 90, 90);
}
.div-operadora-estoqueChips{
  width: 15%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  color: rgb(90, 90, 90);
}
.div-nChip-estoqueChips{
  width: 30%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  color: rgb(90, 90, 90);
}
.div-100-Gentrada{
  width: 90%;
  display: flex;
  flex-direction: column
}
.div-lines-Rtecnico{
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center
}